.Table {
  width: 100%;
  border-collapse: collapse;
}

.Table th, .Table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.Table th {
  background-color: #787777;
  text-align: left;
}

.Table tr:hover {
  background-color: #f1f1f1;
}

.Table tr.selected {
  background-color: #d1e7dd;
}